.admin {
    padding: 20px;
}

.admin h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.admin .form-control {
    margin-bottom: 15px;
}

.admin .btn-dark {
    margin-top: 15px;
}

/* admin.css */
body {
    margin: 0;
    padding: 0;
    background-image: url('../../public/images/homebackground.jpg');
    background-size: cover;
    background-position: center;
    /* Additional styles */
}

.admin.page {
    /* Other styles specific to your admin page */
    /* Ensure that the background color is transparent to allow the body background image to be visible */
    background-color: transparent;
}

